html {
    font-family: "Helvetica Neue", Helvetica;
}

svg {
    font-family: "Helvetica Neue", Helvetica;
    border: 1px solid #aaa;
    /*shape-rendering: crispEdges;*/
}

.bars line 
{
    stroke: #444;
    stroke-width: 0.75px;
}
